{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended"
  ],
  // add your custom rules here
  "rules": {
    "vue/comment-directive": 0,
    "vue/no-v-html": 0,
    "quotes": [
      "error",
      "single"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}