{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  // add your custom rules here
  "rules": {
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "vue/comment-directive": 0,
    "vue/component-tags-order": [
      "error",
      {
        "order": [ "style", "template", "script"  ]
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}