.btn {
    display: inline-block;
    text-align: center;

    &.secondary {
        background-color: #38786A;
        &:active, &:hover {
            background-color: #608d83;
        }
    }
    
    &:first-of-type {
        margin-right: 4px;
    }
}

.btn, 
.more-link  {
    color: white;
    background-color: #282828;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 1em;
    font-size: .8em;
    line-height: 1.5em;
	font-weight: 400;
    margin-bottom: 16px;
    transition: 0.5s;

    &:active:not(:disabled)  {
        background-color: #555555;
	    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    }

    &:hover:not(:disabled) {
        color: white;
        background-color: #555555;
	    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    }

    &:disabled {
        background-color: rgba(79, 79, 79, 0.26);
        color: #3C4858;
        cursor: not-allowed;
    }
}