.navbar {
    position: fixed;
    z-index: 55;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.25s;
	.container {
		max-width: 100%;
		.row {
			padding: 0 2vw;
			display: grid;
			grid-template-columns: 30% 70%;

			.navbar-brand {
				font-size: 1.5em;
				font-family: Rammetto;
				a {
					color: #fff!important;
				}
			}
			
			.navbar-brand, .navbar-brand a {
				padding: 0px !important;
			}
			
			.navbar-brand, .navlinks {
				margin: 12.5px 0px;
			}
		}
	}
	a {
		color: #fff!important;
		transition: color 0.25s;
	}
	svg {
		fill: #fff;
		transition: 0.25s;
	}
}

.nav-link {
	display: inline-grid;
    grid-auto-flow: column;
	align-items: center;
	padding: 0 10px;
	grid-gap: 4px;
}

.navbar.transparent {
    background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

	.container .row {
		.navbar-brand a {
			color: #000!important;
		}
		svg {
			fill: #3C4858;
		}
		a {
			color: #3C4858!important;
			transition: 0.5s;
			&:hover {
				color: #38786a!important;
				svg {
					fill: #38786a;
				}
			}
		}
	}
}

.navbar-toggler {
    display: none;
    width: 24px;
    height: 24px;
	padding: 0px!important;
	margin: 13px 0px;
}

.navmob, .navbar-toggler {
	justify-self: end;
}

@media (max-width: 992px) {
    .navbar {
        background-color: #fff !important;
        padding: 0px !important;
        height: 50px;
        margin-top: -50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12); 
		.container {
			height: 50px; 
			.row {
				.navbar-brand a {
					color: #000!important
				}
				a {
					color: #3C4858 !important; 
					svg {
						fill: #3C4858;
					}
				}
			}
		}
	}
}

@media (max-width: 660px) {	
	.navbar-toggler {
    	display: block !important;
		top: 0;
		position: absolute;
	}
	
	.navbar-brand {
		text-align: center;
		display: block;
		line-height: 50px;
		margin: 0!important;
	}
	
	.navbar .container .row {
    	display: block!important;
	}
	
	.navmob {
		position: fixed;
		display: block;
		width: 304px;
		height: 100vh;
		background-color: #fff;
		left: 0;
		transition: 1s;
		z-index: 99;
		top: 50px;
	}
	
	.navmob.closed {
		left: -304px;
	}
	
	#close.closed {
		opacity: 0;
	}
	
	#close {
		width: 100vw;
		top: 0;
		height: calc(100vh - 50px);
		position: absolute;
		padding: 0;
		left: 304px;
		opacity: .7;
		background-color: #000;
		transition: opacity 1s;
	}

  	.navlinks {
		display: block;
		background-color: #fff;
		margin: 0px !important;
	}
	
	.navlinks a:not(#close) {
		display: grid;
		grid-template-columns: 24px auto;
		padding: 15px;
		margin-left: 2vw;
	}

  	.nav-link {
    	padding-top: 12.5px !important;
    	padding-left: 15px !important; 
	}
}