.share {
    details {
        summary {
            width: 24px;
            height: 24px;
            position: relative;
            margin-top: -4px;
            svg {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &[open] {
            summary {
                transform: rotate(90deg);
                float: right;
                width: 20px;
                line-height: 20px;
                height: 20px;
                text-align: right;
                display: block;
                margin-top: 12px;
                &::-webkit-details-marker {
                    opacity: 1;
                }
                svg {
                    display: none;
                }
            }
        }
        summary::-webkit-details-marker {
            opacity: 0;
        }
        .buttonContainer {
            margin-right: 24px;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 4px;
            svg {
                border-radius: 2px;
                height: 44px;
                width: 44px;
                rect {
                    fill: #282828
                }
            }
        }
    }
}

article.single {
    .share {
        justify-self: right;
        margin-top: 20px;
        height: 44px;
        summary {
            margin-top: 10px;
        }
        details[open] {
            summary {
                margin-top: 12px;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    details summary svg {
        fill: #fff
    }
}
