.sidebar {
    display: grid;
    text-align: left;
    font-size: 20px;
    margin-top: 240px;
    position: sticky;
    top: 120px;

    > ul {
        margin-left: 140px;
    }

    li {
        padding: 0.5rem 0;
        font-weight: 400;

        a {
            color: #3C4858!important;
            font-weight: 400!important;
    
            &:hover, &[aria-current] {
                color: #38786a!important
            }
        }
    }

    ul ul {
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    @media (max-width: 992px) {
        display: none;
    }
}