.sidebar {
    display: grid;
    text-align: left;
    font-size: 20px;
    position: sticky;
    top: 120px;

    details summary::-webkit-details-marker {
        display: none;
    }
    
    details summary::marker {
        display: none;
    }

    > ul {
        margin-left: 3rem;
    }

    li {
        padding: 0.5rem 0;
        font-weight: 400;

        summary {
            cursor: pointer;
            transition: .25s;
            
            &:hover {
                color: #38786a!important
            }
        }

        a {
            color: #3C4858!important;
            font-weight: 400!important;
    
            &:hover, &[aria-current] {
                color: #38786a!important
            }
        }
        ul {
            padding-left: 1.75rem;
            padding-top: 0.5rem;
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}