@use 'wp-block-gallery';
@use 'wp-block-image';
@use 'wp-block-video';
@import '../mixins';
.post__content {
  margin-bottom: 1rem;
  *:first-child {
    margin-top: 0
  }
  *:last-child {
    margin-bottom: 0
  }
  li {
    padding: 0
  }
  :any-link {
    display: inline-flex;
    gap: .2em;
    align-items: center;
    picture {
      display: inline-flex
    }
  }
}
.post__buttons:has(+ .share) {
  margin-bottom: 2rem
}
.navigation-index__link {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  &:any-link {
    color: var(--grey);
    &:hover {
      color: var(--green)
    }
    @include dark-theme {
      color: white;
      &:hover {
        color: var(--light-green)
      }
    }
  }
}
.navigation-wrapper {
  margin-top: 3rem;
  margin-bottom: 1rem;
  @media (max-width: 576px) {
    padding-right: 10px;
    padding-left: 10px
  }
}