@use 'wp-block-gallery';
@use 'wp-block-image';
@use 'wp-block-video';
@import '../mixins';
.post__content {
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
  li {
    padding: 0
  }
  :any-link {
    display: inline-flex;
    gap: .2em;
    align-items: center;
    font-weight: bold;
    picture {
      display: inline-flex;
      background: var(--dark-grey)
    }
  }
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: 0;
    + * {
      margin-top: 1.25rem
    }
  }
  > * {
    margin: 0;
    + *{
      margin-top: 1rem
    }
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 2.5rem
    }
  }
  > ul,
  > ol {
    padding-left: 1.2em
  }
  > p code {
    padding: .1rem .25rem;
    color: var(--grey);
    font-size: .9em;
    background-color: #E1E1E1;
    border-radius: 5px
  }
}
.post__buttons:has(+ .share) {
  margin-bottom: 2rem
}
.navigation-index__link {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  &:any-link {
    color: var(--grey);
    &:hover {
      color: var(--green)
    }
  }
}
.navigation-wrapper {
  margin-top: 3rem;
  margin-bottom: 1rem;
  @media (max-width: 576px) {
    padding-right: 10px;
    padding-left: 10px
  }
}
@include dark-theme {
  .navigation-index__link {
    &:any-link {
      color: white;
      &:hover {
        color: var(--light-green)
      }
    }
  }
  .post__content > p code {
    color: white;
    background-color: #777777
  }
}