.post__content {
  .wp-block-image {
    display: block;
    max-width: 100%;
    picture {
      display: block;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: contain;
        object-position: left
      }
    }
  }
}