article.col-md-4.rss-item {
	max-width: 100%;
	display: grid;
	grid-template-rows: min-content 1fr;
	div {
		display: grid;
		grid-template-rows: 1fr min-content;
	}
}

.rss-item img, .screen-reader-text {
	display: none!important;
}

.more-link {
	display: inline-block
}

.link-more {
	margin-top: 16px;
	text-align: center;
}


@media (max-width: 576px) {  
	#rss-feeds {
	  	grid-template-columns: 100% !important;
	  	margin-bottom: 80px; 
	} 
}

@media (max-width: 768px) {
	.section-blog {
		margin-top: 70px;
		.col-md-4 {
			margin-bottom: 50px !important;
			scroll-snap-align: start;
			scroll-snap-stop: always;
		}
	}
	
	#rss-feeds {
		padding: 0 !important;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
	}
}