.rss-item img, .screen-reader-text {
	display: none!important;
}

.more-link {
	display: inline-block
}

.link-more {
	margin-top: 16px;
	text-align: center;
}


@media (max-width: 576px) {  
	#rss-feeds {
	  	grid-template-columns: 100% !important;
	  	margin-bottom: 80px; 
	} 
}

@media (max-width: 768px) {
	.section-blog {
		padding: 0!important;

		.col-md-4 {
			margin-bottom: 50px !important;
			flex: 0 0 auto;
			scroll-snap-align: start;
			scroll-snap-stop: always;
		}
	}
	
	#rss-feeds {
		padding: 0 !important;
		flex-wrap: nowrap!important;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
	}
}