.form-group {
    margin-bottom: 1rem
}

.form-control {
    font-family: inherit;
    width: 100%;
    padding: .46875rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    border: 1px solid #d2d2d2;
    resize: none
}

label {
    display: inline-block
}

.section-contact {
    margin-bottom: 0!important;
    
    .col-md-4 {
        a {
            color: #3C4858
        }
        * {
            display: inline;
            vertical-align: middle;
        }
        :link:hover {
            color: #38786a
        }
        i {
            margin-right: 4px;
        }
    }
}

@media (max-width: 768px) {
	.section-contact .col-md-4 {
		padding: 7.5px 15px;
	}

	.section-contact .col-md-4:nth-child(3) {
		margin-bottom: 35px!important;
	}

	.section-contact .col-md-4:nth-child(1) {
		padding-top: 0!important;
	}
}