#web {
    margin-bottom: 50px;
}

#designs {
    margin-bottom: 50px; 
    margin-top: 75px;
}

#projects {
	margin-top: 75px;
}

.section-portfolio .col-md-4 p {
	min-height: 144px;
	margin-bottom: 16px;
}

.tech-stack {
	margin: 1rem 0;
	a {
		color: #3C4858;
		font-size: xx-large;
		padding: 0.5em;
	}
}

#git {
	margin-bottom: 50px;
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	a {
		color: #3C4858;
		transition: 0.5s;
		&:hover {
			h5, .fa-github {
				color: #38786a
			}
		}
		h5 {
			float: right;
		}
		.fa-github {
			float: right;
			margin: 10px 10px 15px 10px;
			font-size: 1.5em;
		}
	}
}

@media (max-width: 768px) {
  	.section-portfolio .row {
		padding: 0 !important;
		flex-wrap: nowrap!important;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
    }
    
    .section-portfolio .row:nth-of-type(2) .col-md-4 {
		margin-bottom: 0!important;
    }
    
    .section-portfolio .col-md-4 {
		margin-bottom: 50px !important; 
		flex: 0 0 auto;
		scroll-snap-align: start;
		scroll-snap-stop: always;
        p {
            min-height: 1px!important;
        }
	}
	
	#git a {
		overflow: hidden;
		display: block;
		img {
			width: 250%;
    		float: right;
		}
	}
}
