.section .row.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 70px;

	article.col-md-4 {
		display: grid;
		grid-template-rows: min-content min-content min-content 1fr min-content;
		max-width: 100%;
		margin-bottom: 16px;
		img {
			margin: auto;
		}
		:any-link .info-title {
			color: #3C4858;
			&:hover {
				color: #38786a
			}
		}
	}

	&.projects article.col-md-4 {
		grid-template-rows: min-content min-content 1fr min-content;
	}

	&.blog article.col-md-4 {
		grid-template-rows: max-content 0 1fr min-content;
	}
}

.tech-stack {
	margin: 1rem 0;
	i:not(.fas):not(.fa):not(.fab) {
		color: #3C4858;
		font-size: xx-large;
		padding: 0.5em;
	}
}

.section-portfolio #git {
	margin-bottom: 50px;
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	a {
		color: #3C4858;
		transition: 0.5s;
		&:hover {
			h5, .fa-github {
				color: #38786a
			}
		}
		h5 {
			float: right;
		}
		.fa-github {
			float: right;
			margin: 10px 10px 15px 10px;
			font-size: 1.5em;
		}
	}
}

@media (max-width: 1024px) {
	.section .row.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 767px) {
	@for $i from 1 through 6 {
		.section .row.grid article.col-md-4:nth-of-type(#{$i}) {
			grid-column: $i+1;
		}
	}

	.section .items {
		margin-bottom: 50px;
		.row.grid {
			grid-template-columns: 30px repeat(6, calc(100vw - 80px)) 30px;
			grid-auto-flow: column;
			grid-column-gap: 10px;
			margin-left: calc(-1*((100vw - 100%) / 2));
			margin-right: calc(-1*((100vw - 100%) / 2));
			max-width: 100vw;
			padding: 0 !important;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
			scroll-snap-type: x mandatory;
			&:before, &:after {
				display: table;
				content: '';
				height: 100%;
			}
			.col-md-4 {
				margin-bottom: 100px !important;
				scroll-snap-align: center;
				scroll-snap-stop: always;
				background-color: #fff;
				border-radius: 5px;
				border: 1px solid #3C4858;
				p {
					min-height: 1px!important;
				}
			}
		}
	}

	#git a {
		overflow: hidden;
		display: block;
		img {
			width: 250%;
    		float: right;
		}
	}
}

@media (max-width: 576px) {
	.section .items .row.grid {
		grid-template-columns: 10px repeat(6, calc(100vw - 40px)) 10px;
	}
}

@media (prefers-color-scheme: dark) {
	.tech-stack i:not(.fas):not(.fa):not(.fab) {
		color: lightgrey
	}

	.section .row.grid article.col-md-4 :any-link .info-title {
		color: #fff;
	}

	@media (max-width: 767px) {
		.section .items .row.grid .col-md-4 {
			background-color: #282828;
			border-color: #fff
		}
	}
}