#web {
    margin-bottom: 50px;
}

#designs {
    margin-bottom: 50px; 
    margin-top: 75px;
}

#projects {
	margin-top: 75px;
}

.section-portfolio .col-md-4 p {
	margin-bottom: 16px;
}

.section .row.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 70px;

	article.col-md-4:not(.rss-item) {
		display: grid;
		grid-template-rows: min-content min-content min-content 1fr min-content;
		max-width: 100%;
	}

	&.projects article.col-md-4 {
		grid-template-rows: min-content min-content 1fr min-content;
	}
}

.tech-stack {
	margin: 1rem 0;
	a {
		color: #3C4858;
		font-size: xx-large;
		padding: 0.5em;
	}
}

#git {
	margin-bottom: 50px;
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	a {
		color: #3C4858;
		transition: 0.5s;
		&:hover {
			h5, .fa-github {
				color: #38786a
			}
		}
		h5 {
			float: right;
		}
		.fa-github {
			float: right;
			margin: 10px 10px 15px 10px;
			font-size: 1.5em;
		}
	}
}

@media (max-width: 1024px) {
	.section .row.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.section .row.grid {
		grid-auto-columns: 100%;
		grid-template-columns: initial;
		grid-auto-flow: column;
	}
  	.section-portfolio .row {
		padding: 0 !important;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
    }
    
    .section-portfolio .row:nth-of-type(2) .col-md-4 {
		margin-bottom: 0!important;
    }
    
    .section-portfolio .col-md-4 {
		margin-bottom: 50px !important;
		scroll-snap-align: start;
		scroll-snap-stop: always;
        p {
            min-height: 1px!important;
        }
	}
	
	#git a {
		overflow: hidden;
		display: block;
		img {
			width: 250%;
    		float: right;
		}
	}
}
