@font-face {
  font-family: Roboto fallback;
  size-adjust: 100.06%;
  src: local('Arial')
}
@font-face {
  font-family: Roboto Slab fallback;
  size-adjust: 95%;
  src: local('Arial')
}
@font-face {
  font-family: Rammetto One fallback;
  size-adjust: 117%;
  src: local('Arial Black')
}