.link-more {
  display: none
}
.wp-block-gallery {
  display: grid;
  grid-gap: 16px;
  align-content: center;
  margin: 1rem 0;
  text-align: center;
  &.columns-4 {
    &:not(figure), ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr
      }
    }
  }
  &.columns-3 {
    &:not(figure), ul {
      grid-template-columns: 1fr 1fr 1fr;
      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr
      }
    }
  }
  &.columns-2 {
    &:not(figure), ul {
      grid-template-columns: 1fr 1fr
    }
  }
  ul {
    display: grid;
    grid-gap: 16px;
    align-content: center;
    // stylelint-disable-next-line declaration-no-important
    padding: 0!important;
    text-align: center;
    li {
      display: grid;
      figure {
        display: grid;
        grid-gap: 16px;
        grid-template-rows: 1fr min-content;
        margin: 0;
        img {
          width: 100%;
          height: auto
        }
        figcaption {
          align-self: end
        }
      }
    }
  }
}
figure {
  margin: 0
}
.wp-block-image {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
  img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    object-position: left
  }
}
.wp-block-video {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
  video {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    object-position: left
  }
}
