#header-title .btn {
    margin-top: 20px; 
    font-size: 1rem;
    padding: 0.8em 1em;
    line-height: 1.5em;
}

.no-webp .page-header {
    background-image: url(../../img/header.jpg)
}

.webp .page-header {
    background-image: url(../../img/header.webp)
}

.page-header {
    .description {
        margin-top: 20px;
        a {
            color: white;
        }
    }
}