#header-title {
    .btn {
        margin-top: 20px; 
        font-size: 1rem;
        padding: 0.8em 1em;
        line-height: 1.5em;
    }

    h1 {
        text-shadow: 1px 1px black;
        span {
            display: inline-block
        }
    }

    h5.description {
        text-shadow: 1px 1px black;
    }
}

main#trans {
    a:not(.btn) {
        color: #3C4858;
    }
}

@media (min-width: 992px) {
    .description {
        max-width: 80%;
    }
}

@media (prefers-color-scheme: dark) {
    main#trans {
        a:not(.btn) {
            color: #fff;
        }
    }
}
