@font-face {
  font-display: swap;
  font-family: Rammetto;
  src: url(../webfonts/RammettoOne-Regular.ttf) format("trueType"); }

i.fas.fa-bars {
    font-size: x-large
}

.icon.icon-danger {
    color: #f44336
}

.icon.icon-info {
    color: #00bcd4
}

.icon.icon-success {
    color: #4caf50
}