html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0; }

:link, :visited {
  text-decoration: none; }

img:not([src]) {
  visibility: hidden; }

img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
  margin: auto; }

@font-face {
  font-display: swap;
  font-family: Rammetto;
  src: url(../webfonts/RammettoOne-Regular.ttf) format("trueType"); }
i.fas.fa-bars {
  font-size: x-large; }

.icon.icon-danger {
  color: #f44336; }

.icon.icon-info {
  color: #00bcd4; }

.icon.icon-success {
  color: #4caf50; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a .material-icons {
  vertical-align: middle; }

a {
  color: #38786a; }

body {
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  background-color: #fafafa; }

body,
h2,
h4 {
  line-height: 1.5em; }

body {
  color: #3C4858; }

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 400;
  color: inherit; }

h1,
h2,
h3 {
  margin-top: 20px; }

h4,
h5 {
  margin-top: 10px; }

h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
  font-family: Rammetto;
  font-weight: 400; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.5625rem;
  line-height: 1.4em; }

a h3 {
  color: white; }

a h3:hover {
  color: #38786A; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px; }

label,
p {
  font-size: 16px; }

label {
  margin-bottom: .5rem;
  line-height: 1.42857;
  font-weight: 400; }

p {
  margin: 0 0 1rem; }

ul {
  margin-top: 0; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (max-width: 576px) {
  .section-introduction .title {
    font-size: 1.5rem !important; }

  .main {
    margin: -60px 10px 0 !important; }

  .rss-box ul.rss-items {
    grid-template-columns: 100% !important;
    margin-bottom: 80px; } }
@media (max-width: 660px) {
  .page-header .container .row {
    padding: 0 15px !important; }

  .navbar-toggler {
    display: block !important;
    top: 0;
    position: absolute; }

  .navbar-brand {
    text-align: center;
    display: block;
    line-height: 50px; }

  .navbar .container .row {
    display: block !important; }

  .navmob {
    position: fixed;
    display: block;
    width: 304px;
    height: 100vh;
    background-color: #fff;
    left: 0;
    transition: 1s;
    z-index: 99;
    top: 50px; }

  .navmob.closed {
    left: -304px; }

  #close.closed {
    opacity: 0; }

  #close {
    width: 100vw;
    top: 0;
    height: calc(100vh - 50px);
    position: absolute;
    padding: 0;
    left: 304px;
    opacity: .7;
    background-color: #000;
    transition: opacity 1s; }

  .navlinks {
    display: block;
    background-color: #fff;
    margin: 0px !important; }

  .navlinks a:not(#close) {
    display: block;
    padding: 15px;
    margin-left: 10px; }

  .nav-link {
    padding-top: 12.5px !important;
    padding-left: 15px !important; }

  h1 {
    font-size: 2rem; } }
@media (min-width: 768px) {
  .col-md-4, .rss-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .container {
    max-width: 720px; } }
@media (max-width: 768px) {
  h2, #temp {
    margin-top: 0 !important; }

  .section-blog, .section-contact {
    padding: 0 !important; }

  .col-md-8 {
    flex: 100% !important;
    max-width: 100% !important; }

  .info {
    max-width: auto !important; }

  .section-portfolio .col-md-4, .rss-item:not(a) {
    margin-bottom: 50px !important;
    flex: 0 0 auto; }

  .section-portfolio .row, .rss-items {
    padding: 0 !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }

  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important; }

  .section-portfolio .col-md-4 p {
    min-height: 1px !important; }

  .section-contact .col-md-4 {
    padding: 7.5px 15px; }

  .section-contact .col-md-4:nth-child(3) {
    margin-bottom: 35px !important; }

  .section-contact .col-md-4:nth-child(1) {
    padding-top: 0 !important; }

  .section-portfolio .row:nth-of-type(2) .col-md-4, li.rss-item {
    margin-bottom: 0 !important; } }
@media (max-width: 815px) {
  .grecaptcha-badge {
    display: none; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (max-width: 992px) {
  .navbar {
    background-color: #fff !important;
    padding: 0px !important;
    height: 50px;
    margin-top: -50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12); }

  body {
    margin-top: 50px !important; }

  .navbar .container {
    height: 50px; }

  .navbar .container .row a {
    color: #000 !important; }

  .page-header .row {
    float: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 calc(2em + 15px) !important;
    margin-top: 30px !important; }

  #rammetto {
    font-size: 2.5rem; }

  .page-header {
    background-image: url(../img/mobile-header.jpg) !important;
    height: auto !important; }

  #header-title {
    justify-self: center !important;
    margin-bottom: 100px; }

  h1, .btn.secondary {
    text-align: center; } }
@media (max-width: 1200px) {
  .landscape {
    max-width: 100%;
    height: auto; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
.none, .rss-item div, .rss-item img, .screen-reader-text, .rss-date, li.rss-item br:first-of-type {
  display: none !important; }

body {
  scroll-padding-top: 70px;
  user-select: auto !important; }

.navbar-brand {
  font-family: Rammetto; }

.btn,
label,
#header-title a,
.more-link {
  display: inline-block; }

h2.title,
ul {
  margin-bottom: 1rem; }

.navbar-brand {
  padding: 0px !important;
  margin: auto 0px;
  font-size: 1.5em; }

#header-title,
.navmob {
  justify-self: end; }

.page-header {
  background-image: url(../img/header.jpg); }

.page-header .description a {
  color: white; }

.section-blog .col-md-4 {
  text-align: left !important; }

.section-portfolio .row:nth-of-type(2) .col-md-4 p {
  min-height: 120px; }

.section-contact .col-md-4 a {
  color: #3C4858; }

.section-contact .col-md-4 :link:hover {
  color: #38786a; }

.section-contact .col-md-4 i {
  margin-right: 4px; }

.btn,
.skills,
footer,
.link-more {
  text-align: center; }

.social a {
  font-size: 20px;
  padding: 5px;
  color: #3C4858; }

.social a:hover {
  color: #38786a; }

.grecaptcha-badge {
  z-index: 50; }

.btn,
.more-link {
  color: white;
  background-color: #282828;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  user-select: none;
  padding: 11px 13.5px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 400;
  margin-bottom: 16px; }

.btn:active,
.more-link:active {
  background-color: #555555;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.237602), 0px 0px 8px rgba(0, 0, 0, 0.12); }

.btn:hover,
.more-link:hover {
  color: white; }

.btn.secondary {
  background-color: #38786A; }

.btn.secondary:active {
  background-color: #608d83; }

footer .copyright {
  padding: 15px 0; }

footer {
  padding: .9375rem 0;
  display: flex; }

form {
  margin-bottom: 1.125rem; }

.text-center {
  text-align: center !important; }

.title.text-center {
  margin-bottom: 50px; }

.title {
  margin-top: 30px;
  min-height: 32px; }

.info-title,
.title, a.rss-item {
  font-weight: 700;
  font-family: "Roboto Slab"; }

.form-control {
  font-family: inherit;
  width: 100%;
  padding: .46875rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  border: 1px solid #d2d2d2;
  resize: none; }

.col-md-4,
.col-md-6,
.col-md-8,
.container,
.rss-item {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.fab,
.fas,
.material-icons {
  font-style: normal;
  line-height: 1; }

.form-group {
  margin-bottom: 1rem; }

.section-services .col-md-4 {
  margin-bottom: 0px !important; }

.col-md-4:nth-child(3n+0), .rss-item:nth-child(3n+0) {
  margin-bottom: 70px; }

.col-md-4,
.col-md-6,
.col-md-8,
.rss-item {
  position: relative;
  min-height: 1px; }

.col-md-4 {
  text-align: center; }

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.main {
  background: #FFF;
  position: relative;
  z-index: 3;
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.container {
  margin-right: auto;
  margin-left: auto; }

.section:not(.section-blog) .row, .rss-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

li.rss-item {
  text-align: center; }

a.rss-item {
  font-size: 1.125rem;
  line-height: 1.5em;
  display: block;
  color: #3C4858 !important;
  padding: 0;
  max-width: 100%; }

.section {
  padding: 50px 0; }

.header-filter .container {
  z-index: 2; }

.header-filter::before {
  background-color: rgba(0, 0, 0, 0.5); }

.header-filter:after,
.header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: ""; }

.header-filter {
  position: relative; }

.page-header {
  color: #fff;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center; }

.page-header .row {
  display: grid;
  max-width: 50%;
  float: right;
  padding: 0 calc(2em + 15px) 0 0; }

.page-header .container {
  max-width: 100%; }

.info .icon > i {
  font-size: 3.85rem; }

.info .info-title {
  margin: 1.75rem 0 0.875rem; }

.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 70px 0 30px; }

.navbar,
.navbar .container {
  max-width: 100%; }

.section-portfolio .col-md-4 p {
  min-height: 144px;
  margin-bottom: 16px; }

.navbar {
  position: fixed;
  z-index: 55;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.1s; }

.navbar.transparent {
  background-color: #fff;
  transition: background-color 0.1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12); }

.navbar .container .row {
  padding: 0 2vw;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 !important;
  height: 50px; }

.navbar a {
  padding: 30px 10px;
  color: #fff !important;
  transition: color 0.1s; }

.navbar.transparent a {
  color: #000 !important;
  transition: color 0.1s; }

.navlinks {
  margin: 12.5px 0px; }

.navbar-toggler {
  display: none;
  width: 24px;
  height: 24px;
  justify-self: end;
  text-align: center;
  padding: 0px !important;
  margin: 13px 0px 13px 10px; }

ul.rss-items {
  list-style-type: none;
  width: 100%;
  margin: auto; }

.link-more {
  margin-top: 16px; }
