#cookies {
    header {
        display: none;
    }
    .content {
        padding: 100px 11%;
    }
    .navbar {
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    }
    .navbar a {
        color: #000!important;
    }
    @media(max-width:830px) {
        .content {
            padding: 50px 18px;
        }
    }
}