@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (max-width: 576px) {
  .section-introduction .title {
    font-size: 1.5rem !important; }

  .main {
    margin: -60px 10px 0 !important; }

  #rss-feeds {
    grid-template-columns: 100% !important;
    margin-bottom: 80px; } 
}

@media (max-width: 660px) {
	#top {
		margin: 0!important;
	}
	
	.page-header .container .row {
		padding: 0 15px!important;
	}
	
	.navbar-toggler {
    	display: block !important;
		top: 0;
		position: absolute;
	}
	
	.navbar-brand {
		text-align: center;
		display: block;
		line-height: 50px;
		margin: 0!important;
	}
	
	.navbar .container .row {
    	display: block!important;
	}
	
	.navmob {
		position: fixed;
		display: block;
		width: 304px;
		height: 100vh;
		background-color: #fff;
		left: 0;
		transition: 1s;
		z-index: 99;
		top: 50px;
	}
	
	.navmob.closed {
		left: -304px;
	}
	
	#close.closed {
		opacity: 0;
	}
	
	#close {
		width: 100vw;
		top: 0;
		height: calc(100vh - 50px);
		position: absolute;
		padding: 0;
		left: 304px;
		opacity: .7;
		background-color: #000;
		transition: opacity 1s;
	}

  	.navlinks {
		display: block;
		background-color: #fff;
		margin: 0px !important;
	}
	
	.navlinks a:not(#close) {
		display: block;
		padding: 15px;
		margin-left: 10px;
	}

  	.nav-link {
    	padding-top: 12.5px !important;
    	padding-left: 15px !important; 
	}
	
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
  .col-md-4, .rss-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .container {
    max-width: 720px; } 
}
@media (max-width: 768px) {
	h2, #temp {
		margin-top: 0!important;
	}
	.section-blog, .section-contact {
		padding: 0!important;
	}
  .col-md-8 {
    flex: 100% !important;
    max-width: 100% !important; }

  .info {
    max-width: auto !important; }
	
  .section-portfolio .col-md-4, .rss-item {
    margin-bottom: 50px !important; 
	flex: 0 0 auto;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	}

  .section-portfolio .row, #rss-feeds {
    padding: 0 !important;
	flex-wrap: nowrap!important;
    overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	}

  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important; }
	
	.section-portfolio .col-md-4 p {
		min-height: 1px!important;
	}
	.section-contact .col-md-4 {
		padding: 7.5px 15px;
	}
	.section-contact .col-md-4:nth-child(3) {
		margin-bottom: 35px!important;
	}
	.section-contact .col-md-4:nth-child(1) {
		padding-top: 0!important;
	}
	.section-portfolio .row:nth-of-type(2) .col-md-4, .rss-item {
		margin-bottom: 0!important;
	}
}
@media (max-width: 815px) {
  .grecaptcha-badge {
    display: none; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (max-width: 992px) {
  .navbar {
    background-color: #fff !important;
    padding: 0px !important;
    height: 50px;
    margin-top: -50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12); 
}

  body {
    margin-top: 50px !important; }

  	.navbar .container {
		height: 50px; 
	}

  	.navbar .container .row a {
		color: #000 !important; 
	}
	
	.page-header .row {
		float: none!important;
		max-width: 100%!important;
		margin: 0!important;
		padding: 0 calc(2em + 15px)!important;
		margin-top: 30px!important;
	}
	
	
  	#rammetto {
		font-size: 2.5rem; 
	}

	.no-webp .page-header {
		background-image: url(../img/mobile-header.jpg)!important
	}
	
	.webp .page-header {
		background-image: url(../img/mobile-header.webp)!important
	}


  .page-header {
    height: auto !important; }

	  #header-title {
		justify-self: center !important;
		margin-bottom: 100px; 
	}
	h1, .btn.secondary {
		text-align: center;
	}
}
@media (max-width: 1200px) {
  .landscape {
    max-width: 100%;
    height: auto; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }