.featherlight-close {
    display: none;
}
html {
	position: relative!important;
	overflow-x: hidden;
}
html.with-featherlight {
    overflow-y: hidden;
	width: 100%;
}
html.with-featherlight body {
	overflow-y: scroll;
}
html.with-featherlight .cc-window.cc-banner.cc-type-info.cc-theme-edgeless.cc-bottom.cc-color-override--591744288 {
    width: calc(100% - 17px);
}
/**
 * Featherlight â€“ ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, NoÃ«l Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight {
	-webkit-overflow-scrolling: touch;
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647; /* z-index needs to be >= elements on the site. */

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: center;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	overflow-y: hidden;
	padding: 0px;

	/* dimensions: handling large content */
	max-height: 95%;

	/* styling */
	cursor: auto;

	/* reset white-space wrapping */
	white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
	-webkit-animation: fadein .5s;
    animation: fadein .5s;
	/* make sure its visible */
	display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
	display: none;
}

.featherlight .featherlight-image {
	/* styling */
	width: 100%;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@-webkit-keyframes featherlightLoader { 
	0% { 
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg); 
	} 
 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	} 
} 
 
@keyframes featherlightLoader { 
	0% { 
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg); 
	} 
 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	} 
} 

.featherlight-loading .featherlight-content { 
  -webkit-animation: featherlightLoader 1s infinite linear; 
          animation: featherlightLoader 1s infinite linear; 
  background: transparent; 
  border: 8px solid #8f8f8f; 
  border-left-color: #fff; 
  border-radius: 80px; 
  width: 80px; 
  height: 80px; 
  min-width: 0; 
} 
 
.featherlight-loading .featherlight-content > * { 
  display: none !important; 
} 
 
.featherlight-loading .featherlight-close, 
.featherlight-loading .featherlight-inner { 
  display: none; 
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		max-height: 98%;
	}
}