@import 'resets';
@import 'fonts';
@import 'cookies';

@media (min-width: 576px) {
    .container {
        max-width: 540px; 
    } 
}

@media (min-width: 768px) {
    .col-md-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%; 
    }
  
    .container {
        max-width: 720px; 
    } 
}

@media (min-width: 992px) {
    .container {
        max-width: 960px; 
    } 
}

@media (min-width: 1200px) {
    .container {
      max-width: 1140px; 
    } 
}

body {
	scroll-padding-top: 70px;
	user-select: auto!important;
}

#header-title a {
    display: inline-block
}

h2.title {
    margin-bottom: 1rem
}

.header-title a {
    margin-top: 20px; 
    font-size: 1rem
}

.text-center, .col-md-4 {
    text-align: center!important
}

.ml-auto {
    margin-left: auto!important
}

.mr-auto {
    margin-right: auto!important
}

.title.text-center {
    margin-bottom: 50px
}

.title {
    margin-top: 30px;
    min-height: 32px
}

.info-title {
    margin-top:20px;
}

.info-title,
.title {
    font-weight: 700;
    font-family: "Roboto Slab"
}

.col-md-4,
.col-md-6,
.col-md-8,
.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

.col-md-4,
.col-md-6,
.col-md-8 {
    position: relative;
    min-height: 1px
}

.fab,
.fas,
.material-icons {
    font-style: normal;
    line-height: 1
}

.col-md-4:nth-child(3n+0) {
	margin-bottom: 70px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.section {
    padding: 80px 0;
    margin-bottom: -80px;
}

.section .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.header-filter {
    position: relative;

    .container {
        z-index: 2
    }
    
    &::before {
        background-color: rgba(0, 0, 0, .5)
    }

    &:after, &:before {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: ""
    }
}

.page-header {
    color: #fff;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;

    .row {
        display: grid;
        max-width: 50%;
        float: right;
        padding: 0 calc(2em + 15px) 0 0;
    }

    .container {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    body {
      margin-top: 50px !important; 
    }
  
    .no-webp .page-header {
        background-image: url(../img/mobile-header.jpg)!important
    }
    
    .webp .page-header {
        background-image: url(../img/mobile-header.webp)!important
    }
  
    .page-header {
        height: auto !important; 
    }
    
    .page-header .row {
        float: none!important;
        max-width: 100%!important;
        margin: 0!important;
        padding: 0 calc(2em + 15px)!important;
        margin-top: 30px!important;
    }
  
    #header-title {
        justify-self: center !important;
        margin-bottom: 100px; 
    }

    h1, .btn.secondary {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem; 
    }
}

@media (max-width: 768px) {
	h2, #temp {
		margin-top: 0!important;
	}

  	.col-md-8 {
    	flex: 100% !important;
		max-width: 100% !important; 
	}

  	.col-md-6 {
		flex: 100% !important;
		max-width: 100% !important; 
	}
}

@media (max-width: 660px) {
	.page-header .container .row {
		padding: 0 15px!important;
	}
	
	h1 {
		font-size: 2rem;
	}
}

@media (max-width: 576px) {
    .main {
        margin: -60px 10px 0 !important; 
    }
}
