@use 'pre';
@use 'headings';
@import '../mixins';
:any-link:not(.btn) {
  color: var(--green);
  transition: color .25s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    color: var(--light-green)
  }
}
@include dark-theme {
  :any-link:not(.btn) {
    color: var(--light-green);
    &:hover,
    &:focus,
    &:active {
      color: var(--green)
    }
  }
}
body {
  color: var(--grey);
  font-size: 1rem;
  font-family: Roboto, Roboto fallback, sans-serif;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
@include dark-theme {
  color: #EEEEEE
}
.text-center {
  text-align: center
}
