.post__header {
  margin-bottom: 1rem
}
.post__title {
  margin-top: 0;
  margin-bottom: .625rem;
  &:has(+ .post__read-time) {
    margin-bottom: .25rem;
    @media (max-width: 576px) {
      margin-bottom: .625rem
    }
  }
  &:has(+ .post__tech-stack) {
    margin-bottom: 1rem
  }
  a {
    color: var(--grey);
    &:hover,
    &:focus,
    &:active {
      color: var(--green)
    }
  }
}
.post__read-time {
  margin-bottom: .625rem;
  font-size: .9rem;
  font-style: italic
}
.post__content {
  margin-bottom: 1rem
}
